
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');

#root {
   background-color: rgb(226, 226, 125);
   font-family: 'PT Serif', serif;
}
.container-fluid{
  background-color: blueviolet;
}
.card {
  font-family: "Inconsolata", monospace;
}
.card-body{
    color: rgb(198, 43, 226);
}
.cart-title{
    text-align: center;
    font-family: 'Reem Kufi Ink', sans-serif;
}
.card-text{
    color: rgb(234, 154, 26);
}
.card-text1{
  color: rgb(26, 234, 234);
}
.products-title{
    text-align: center;
    font-family: 'Reem Kufi Ink', sans-serif;
}



